<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-70.0</real>
    </dict>
    <key>public.kern1.five.sups</key>
    <dict>
      <key>public.kern2.solidus</key>
      <real>-70.0</real>
    </dict>
    <key>public.kern1.four.sups</key>
    <dict>
      <key>public.kern2.seven.sinf</key>
      <real>-20.0</real>
      <key>public.kern2.solidus</key>
      <real>-50.0</real>
      <key>public.kern2.two.sinf</key>
      <real>-20.0</real>
    </dict>
    <key>public.kern1.one.sups</key>
    <dict>
      <key>public.kern2.solidus</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.seven.sinf</key>
    <dict>
      <key>public.kern2.four.numr</key>
      <real>-50.0</real>
    </dict>
    <key>public.kern1.seven.sups</key>
    <dict>
      <key>public.kern2.solidus</key>
      <real>-120.0</real>
    </dict>
    <key>public.kern1.six.sups</key>
    <dict>
      <key>public.kern2.solidus</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.solidus</key>
    <dict>
      <key>public.kern2.five.sinf</key>
      <real>-40.0</real>
      <key>public.kern2.four.numr</key>
      <real>-90.0</real>
      <key>public.kern2.six.sinf</key>
      <real>-70.0</real>
    </dict>
  </dict>
</plist>
