<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.five.sups</key>
    <dict>
      <key>public.kern2.solidus</key>
      <real>-68.22222222222223</real>
    </dict>
    <key>public.kern1.four.sups</key>
    <dict>
      <key>public.kern2.seven.sinf</key>
      <real>-28.222222222222225</real>
      <key>public.kern2.solidus</key>
      <integer>-30</integer>
      <key>public.kern2.two.sinf</key>
      <real>-1.7777777777777732</real>
    </dict>
    <key>public.kern1.one.sups</key>
    <dict>
      <key>public.kern2.solidus</key>
      <real>-31.77777777777777</real>
    </dict>
    <key>public.kern1.seven.sinf</key>
    <dict>
      <key>public.kern2.four.numr</key>
      <real>-49.99999999999999</real>
    </dict>
    <key>public.kern1.seven.sups</key>
    <dict>
      <key>public.kern2.solidus</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.six.sups</key>
    <dict>
      <key>public.kern2.solidus</key>
      <real>-51.77777777777777</real>
    </dict>
    <key>public.kern1.solidus</key>
    <dict>
      <key>public.kern2.five.sinf</key>
      <real>-21.77777777777777</real>
      <key>public.kern2.four.numr</key>
      <real>-86.44444444444446</real>
      <key>public.kern2.seven.sinf</key>
      <real>28.22222222222223</real>
      <key>public.kern2.six.sinf</key>
      <real>-61.77777777777777</real>
    </dict>
  </dict>
</plist>
