<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.five.sups</key>
    <dict>
      <key>public.kern2.solidus</key>
      <integer>-68</integer>
    </dict>
    <key>public.kern1.four.sups</key>
    <dict>
      <key>public.kern2.seven.sinf</key>
      <integer>-28</integer>
      <key>public.kern2.solidus</key>
      <integer>-30</integer>
      <key>public.kern2.two.sinf</key>
      <integer>-2</integer>
    </dict>
    <key>public.kern1.one.sups</key>
    <dict>
      <key>public.kern2.solidus</key>
      <integer>-32</integer>
    </dict>
    <key>public.kern1.seven.sinf</key>
    <dict>
      <key>public.kern2.four.numr</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.seven.sups</key>
    <dict>
      <key>public.kern2.solidus</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.six.sups</key>
    <dict>
      <key>public.kern2.solidus</key>
      <integer>-52</integer>
    </dict>
    <key>public.kern1.solidus</key>
    <dict>
      <key>public.kern2.five.sinf</key>
      <integer>-22</integer>
      <key>public.kern2.four.numr</key>
      <integer>-86</integer>
      <key>public.kern2.seven.sinf</key>
      <integer>28</integer>
      <key>public.kern2.six.sinf</key>
      <integer>-62</integer>
    </dict>
  </dict>
</plist>
