<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <real>983.0</real>
    <key>capHeight</key>
    <real>743.0</real>
    <key>copyright</key>
    <string>Copyright (c) 2013-2016, Sorkin Type Co (www.sorkintype.com) with Reserved Font Name 'Merriweather'</string>
    <key>descender</key>
    <real>-273.0</real>
    <key>familyName</key>
    <string>Merriweather Sans</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>624.0</real>
        <key>y</key>
        <real>377.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>11.0</real>
        <key>y</key>
        <real>809.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>11.0</real>
        <key>y</key>
        <real>624.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>21.0</real>
        <key>y</key>
        <real>777.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>11.0</real>
        <key>y</key>
        <real>809.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>-76.0</real>
        <key>y</key>
        <real>693.0</real>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>-0.0</real>
    <key>openTypeHeadCreated</key>
    <string>2019/01/16 02:11:27</string>
    <key>openTypeHheaAscender</key>
    <integer>984</integer>
    <key>openTypeHheaDescender</key>
    <integer>-273</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Eben Sorkin</string>
    <key>openTypeNameDesignerURL</key>
    <string>sorkintype.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Eben Sorkin</string>
    <key>openTypeNameManufacturerURL</key>
    <string>sorkintype.com</string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>984</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-273</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>STC</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1150</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>300</integer>
    <key>postscriptBlueValues</key>
    <array>
      <real>-14.0</real>
      <real>0.0</real>
      <real>557.0</real>
      <real>570.0</real>
      <real>646.0</real>
      <real>654.0</real>
      <real>743.0</real>
      <real>756.0</real>
      <real>983.0</real>
      <real>999.0</real>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <real>-289.0</real>
      <real>-273.0</real>
      <real>-273.0</real>
      <real>-266.0</real>
      <real>-252.0</real>
      <real>-240.0</real>
      <real>798.0</real>
      <real>830.0</real>
      <real>972.0</real>
      <real>977.0</real>
    </array>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-122</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>55</integer>
    <key>styleMapFamilyName</key>
    <string>Merriweather Sans Light</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Light</string>
    <key>trademark</key>
    <string>Merriweather is a trademark of Sorkin Type Co.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>6</integer>
    <key>xHeight</key>
    <real>557.0</real>
  </dict>
</plist>
