<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ezh</key>
    <string>E_zh.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>four.lf</key>
    <string>four.lf.glif</string>
    <key>four.sc</key>
    <string>four.sc.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>schwa.sc</key>
    <string>schwa.sc.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
  </dict>
</plist>
